<section id="about">
  <div class="content-wrapper">

    <div class="availability-ribbons">
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/1.png" alt="Location background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/location-Icon.svg" alt="Location icon"> 
          <span>{{ 'about.ribbons.location' | translate }}</span>
        </div>
      </div>
      
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/2.png" alt="Relocate background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/relocate-Icon.svg" alt="Relocate icon">
          <span>{{ 'about.ribbons.relocate' | translate }}</span>
        </div>
      </div>
      
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/3.png" alt="Remote background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/home-icon.svg" alt="Remote icon">
          <span>{{ 'about.ribbons.remote' | translate }}</span>
        </div>
      </div>
    </div>

    <div class="about-text">
      <h4>{{ 'about.subtitle' | translate }}</h4>
      <h2>{{ 'about.title' | translate }}</h2>
      <p>
        {{ 'about.description.intro' | translate }}
        <br><br>
        {{ 'about.description.strength' | translate }}
        <br><br>
        {{ 'about.description.qualities' | translate }}
        <br><br>
        {{ 'about.description.goal' | translate }}
      </p>
      <p>{{ 'about.closing' | translate }}</p>

      <div class="contact-me">
         <button class="my-button">{{ 'about.cta' | translate }}</button>
      </div>
    </div>

  </div>
</section>





