<section id="about" class="about-section">
  <div class="about-wrapper">

    <!-- Linke Seite -->
    <div class="availability-ribbons">
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/1.png" alt="Location background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/location-Icon.svg" alt="Location icon"> 
          <span>Based in Munich</span>
        </div>
      </div>
      
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/2.png" alt="Relocate background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/relocate-Icon.svg" alt="Relocate icon">
          <span>Open to relocate</span>
        </div>
      </div>
      
      <div class="ribbon">
        <img class="ribbon-bg" src="assets/Design-material/02_Ripped Paper/Option 3/3.png" alt="Remote background">
        <div class="ribbon-content">
          <img class="icon" src="assets/Design-material/img/about-me/home-icon.svg" alt="Remote icon">
          <span>Open to work remote</span>
        </div>
      </div>
    </div>

    <!-- Rechte Seite -->
    <div class="about-text">
      <h4>WHO'S MIRKAN?</h4>
      <h2>About me</h2>
      <p>
        Hey there, I'm Mirkan. Write some information about yourself that is IT related. Why are you passionate about coding?  
        What is your source of inspiration for improving your programming skills? Do you learn from each challenge as you search for the most efficient or elegant solution?
      </p>
      <p>Let's collaborate and build something remarkable together!</p>

      <div class="contact-me">
         <button class="my-button">Let's talk</button>
      </div>
     
    </div>

  </div>
</section>





