.about-section {
  background-color: white;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;

  &, & * {
    color: #000000;
  }

  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1920px;
  }

  .availability-ribbons {
    display: flex;
    flex-direction: column;

    .ribbon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:nth-child(1) {
        transform: rotate(-4deg);
        
        .ribbon-content {
          transform: translateY(-15px);
        }
      }
      
      &:nth-child(2) {
        transform: rotate(0deg);

        .ribbon-content {
          transform: translateY(-10px);
        }
      }
      
      &:nth-child(3) {
        transform: rotate(4deg);
      }
      
      .ribbon-bg {
        width: 100%;
        max-width: 560px;
        height: auto;
      }
      
      .ribbon-content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        .icon {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }
        
        span {
          color: white;
          font-size: 24px;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }

  .about-text {
    max-width: 560px;

    h4 {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
      display: inline-block;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    .my-button {
      margin-top: 1rem;
      border: 2px solid black;
      box-shadow: 3px 5px 0 rgb(0, 0, 0);
      color: black;
      
      &:hover {
        background-color: #F87B57;
        border-color: black;
        transform: translateY(4px);
        box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
        color: white;
      }
      
      &:active {
        transform: translateY(5px);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      }
    }

    > .contact-me {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}