section {
  background-color: white;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;

  &, & * {
    color: #000000;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .availability-ribbons {
    display: flex;
    flex-direction: column;
    max-height: 465px;

    .ribbon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:nth-child(1) {
        transform: rotate(-4deg);
        
        .ribbon-content {
          transform: translateY(-15px);
        }
      }
      
      &:nth-child(2) {
        transform: rotate(0deg);

        .ribbon-content {
          transform: translateY(-10px);
        }
      }
      
      &:nth-child(3) {
        transform: rotate(4deg);
      }
      
      .ribbon-bg {
        width: 100%;
        max-width: 560px;
        height: auto;
      }
      
      .ribbon-content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        .icon {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }
        
        span {
          color: white;
          font-size: 24px;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }

  .about-text {
    max-width: 560px;

    h4 {
      font-size: 1.25rem;
      color: #666;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 3rem;
      display: inline-block;
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        bottom: -17px;
        left: 0;
        width: 114%;
        height: 22px;
        background-image: url('/assets/Design-material/00_Hand-drawn lines/01_About me/Color option 3.png');
        background-size: cover;
        background-repeat: no-repeat;
        animation: slideInOut 4s ease-in-out infinite;
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.6;
    }

    .my-button {
      margin-top: 1rem;
      border: 2px solid black;
      box-shadow: 3px 5px 0 rgb(0, 0, 0);
      color: black;
      
      &:hover {
        background-color: #F87B57;
        border-color: black;
        transform: translateY(4px);
        box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
        color: white;
      }
      
      &:active {
        transform: translateY(5px);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
      }
    }

    > .contact-me {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@keyframes slideInOut {
  0%, 10% {     
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  30%, 80% {   
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}