<section id="projects">
  <div class="content-wrapper">
    
    <div class="projects-grid">
      
      <div class="grid-item intro-box">
        <div class="intro-content">
          <h3>{{ introContent.subtitle | translate }}</h3>
          <h2>{{ introContent.title | translate }}</h2>
          <p>{{ introContent.description | translate }}</p>
        </div>
      </div>

      @for (project of projects; track project.id) {
        <div class="grid-item project-box" [attr.data-project-id]="project.id">
          <div class="project-image">
            
            <img [src]="project.image" [alt]="project.title" class="main-project-image">
            
            <button class="my-button" (click)="openProjectDetails(project.id)">
              {{ 'projects.button.details' | translate }}
            </button>
        
            @if (project.featured) {
              <div class="featured-badge-image">
                <img [src]="project.badgeImage" alt="Featured Project">
              </div>
            }
          </div>
          <div class="project-info">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
          </div>
        </div>
      }

    </div>
  </div>
</section>