<footer class="contact-footer">
    <div class="footer-left">
        <div class="logo" (click)="scrollToTop()">
            <img src="assets/Design-material/00_Hand-drawn lines/00_Header/M_4.png" alt="Logo">
        </div>
        <p>{{ 'footer.copyright' | translate }}</p>
    </div>
    
    <div class="footer-links">
        <a [routerLink]="['/legal-notice']" class="footer-link legal-link">{{ 'footer.links.legal' | translate }}</a>
        
        <div class="social-link-container github-link">
            <img class="social-icon-hover" src="assets/Design-material/img/contact-icons/Github.svg" alt="GitHub">
            <a href="https://github.com/MirkanPolat" target="_blank" rel="noopener noreferrer" class="footer-link social-link">{{ 'footer.links.github' | translate }}</a>
        </div>
        
        <div class="social-link-container linkedin-link">
            <img class="social-icon-hover" src="assets/Design-material/img/contact-icons/LinkedIn.svg" alt="LinkedIn">
            <a href="#" class="footer-link social-link">{{ 'footer.links.linkedin' | translate }}</a>
        </div>
        
        <div class="social-link-container email-link">
            <img class="social-icon-hover" src="assets/Design-material/img/contact-icons/Mail.svg" alt="Email">
            <a href="mailto:kontakt@mirkanpolat.com" class="footer-link social-link">{{ 'footer.links.email' | translate }}</a>
        </div>
    </div>
</footer>
