<footer class="contact-footer">
    <div class="footer-left">
        <div class="logo">MP</div>
        <p>{{ 'footer.copyright' | translate }}</p>
    </div>
    
    <div class="footer-links">
        <a href="#" class="footer-link">{{ 'footer.links.legal' | translate }}</a>
        <a href="#" class="footer-link">{{ 'footer.links.github' | translate }}</a>
        <a href="#" class="footer-link">{{ 'footer.links.linkedin' | translate }}</a>
        <a href="#" class="footer-link">{{ 'footer.links.email' | translate }}</a>
    </div>
</footer>
