<section id="hero" class="hero-section">
  <div class="main-content">
    <div class="title-container">
      <div class="button-container">
        <img class="hand-icon" src="assets/Design-material/img/waving-hand/waving_hand.svg" alt="Hand">
        <div class="hello-button">
          <span class="text-default">{{ 'hero.greeting.default' | translate }}</span>
          <span class="text-hover">{{ 'hero.greeting.hover' | translate }}</span>
        </div>
      </div>
      
      <h1 class="title-first">
        <span class="letter" 
              *ngFor="let letter of ('hero.title.frontend' | translate).split(''); let i = index" 
              [attr.data-letter]="letter.toLowerCase()"
              [style.animation-delay.s]="i * 0.1">{{ letter }}</span>
      </h1>
      <h1 class="title-second">
        <span class="letter" 
              *ngFor="let letter of ('hero.title.developer' | translate).split(''); let i = index" 
              [attr.data-letter]="letter.toLowerCase()"
              [style.animation-delay.s]="i * 0.1">{{ letter }}</span>
      </h1>
      
      <button class="cta-button" (click)="scrollToContact()">{{ 'hero.cta' | translate }}</button>
    </div>
    
    <div class="polaroid-container">
      <img src="assets/Design-material/img/me/me-polaroid(3).png" alt="Mirkan Polaroid" class="polaroid">
      <div class="polaroid-text">
        <span class="default-text">Mr. Polat</span>
        <span class="hover-text">Mr. Polat :D</span>
      </div>
    </div>
  </div>
  
  <div class="social-icons">
    <a href="#" class="icon linkedin">
      <img src="assets/Design-material/img/contact-icons/LinkedIn.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/MirkanPolat" target="_blank" class="icon github">
      <img src="assets/Design-material/img/contact-icons/Github.svg" alt="GitHub">
    </a>
    <a href="mailto:kontakt@mirkanpolat.com" class="icon email">
      <img src="assets/Design-material/img/contact-icons/Mail.svg" alt="Email">
    </a>
  </div>
</section>
