section{
    background-image: url('./../../../assets/Design-material/01_Background/Design Size Relation@3x/01_Hero.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}
