<section>
    <div class="hero-content">
        <div class="hero-top">
            <div class="button-container">
                <img class="hand-icon" src="assets/Design-material/img/waving-hand/waving_hand.svg" alt="Hand">
                <div class="hello-button">
                    <span class="text-default">Hello world</span>
                    <span class="text-hover">I'm Mirkan Polat</span>
                </div>
            </div>
        </div>
        
        <div class="hero-middle">
            <div class="title-container">
                <h1 class="title-top animated-title">
                    <span class="letter" 
                          *ngFor="let letter of frontendLetters; let i = index" 
                          [attr.data-letter]="letter.toLowerCase()"
                          [style.animation-delay.s]="i * 0.1">{{ letter }}</span>
                </h1>
                <h1 class="title-bottom animated-title">
                    <span class="letter" 
                          *ngFor="let letter of developerLetters; let i = index" 
                          [attr.data-letter]="letter.toLowerCase()"
                          [style.animation-delay.s]="i * 0.1">{{ letter }}</span>
                </h1>
                <div class="contact-button">
                    <button class="my-button">Get in Touch</button>
                </div>
                <div class="polaroid">
                    <div class="profile-image">
                        <img src="assets/Design-material/img/me/me-polaroid(3).png" alt="Profile image">
                    </div>
                    <p class="name-tag">Mr. Polat</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hero-bottom">
        <div class="social-links">
            <a href="#" class="social-icon"><img src="assets/Design-material/img/contact-icons/LinkedIn.svg" alt="LinkedIn"></a>
            <a href="#" class="social-icon"><img src="assets/Design-material/img/contact-icons/Github.svg" alt="GitHub"></a>
            <a href="#" class="social-icon"><img src="assets/Design-material/img/contact-icons/Mail.svg" alt="Email"></a>
        </div>
    </div>
</section>
