section {
    background-image: url("./../../../assets/Design-material/01_Background/Design Size Relation@3x/01_Hero.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-top {
        > .hello-button {
            background-color: transparent;
            border: 1px solid white;
            border-radius: 50px;
            padding: 10px 30px;
            font-size: 18px;
        }
    }

    .hero-middle {
        > .title-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > .title-top {
                
            }

            > .title-bottom {
                margin-left: 143px;
            }
        }

        .profile-image {
            > .name-tag {
                
            }
        }
    }
    .hero-bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 76px;

        > .social-links{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid white;
                transition: all 0.3s ease;
                
                img {
                    width: 32px;
                    height: 32px;
                }
                
                &:hover {
                    background-color: #3355FF;
                    transform: scale(1.1);
                    box-shadow: 0 0 10px rgba(75, 71, 255, 0.7);
                    border-color: transparent;
                }
            }
        }
    }

    h1 {
        font-size: 128px;
    }
}
