<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Wenn die Datei existiert, verwende sie direkt
  RewriteCond %{REQUEST_FILENAME} !-f
  # Wenn das Verzeichnis existiert, verwende es direkt
  RewriteCond %{REQUEST_FILENAME} !-d
  # Sonst: Alle Requests auf index.html umleiten
  RewriteRule ^.*$ /index.html [L]
</IfModule>
