<section>
  <div class="content-wrapper">
    <div class="skill-set-container">
      <div class="column column-left">
        <h3>MY STACK</h3>
        <h2>Skill set</h2>
      </div>

      <div class="column column-middle">
        <div class="skill-set-content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
            possimus? Accusamus nemo repudiandae consequatur deserunt vel,
            cumque ipsa magni facere, eius quam velit quaerat impedit quos vero
            sint ipsam iure!
          </p>
        </div>
        
        <div class="skills-grid">
          <div class="skill-item" *ngFor="let skill of skills">
            <img [src]="skill.icon" [alt]="skill.name">
            <span>{{ skill.name }}</span>
          </div>
        </div>
      </div>

      <div class="column column-right">
        <img src="assets/Design-material/03_Stickers/01_Skills - Peel off/Default.png" alt="Pull to peel" />
      </div>
      
    </div>
  </div>
</section>
